@import '../../static/css/mixin.scss';
@import '../../static/css/common.scss';
@import '../../static/css/svg.scss';

.order-tab{
  display: flex;
  align-items: center;
  
  border-bottom:1px solid #e1e1e1;
  span{
    display: inline-block;
    line-height: .8rem;
    flex:1;
    font-size: 0.3rem;
    text-align: center;
    color: #999;
    background: #fff;
    &.active{
      border-bottom:1px solid #ff6900;
      margin-bottom:-1px;
      color: #ff6900;
      span{
        color: #ff6900;

      }
    }
  }
}
.order-item-main{
  padding:0 .3rem;
  font-size: 0.24rem;
  
}
.order-list{
  margin: .3rem;
}
.order-item{
  border-radius: .2rem;
  background: #fff;
  
  margin-bottom: 0.3rem;
  box-shadow: 0px 3px 10px #e1e1e1;
  overflow: hidden;
}
.order-item-top,.order-item-footer{
  line-height: 0.8rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.24rem;
  color: #999;
  padding:0 .3rem;
  .num{
    color: #ff6900;
    font-size: 0.3rem;
  }
}
.order-site{
  span{
    margin-right: 0.1rem;
  }
}

.order-itm{
  display:flex;
  margin: 0.2rem 0;
  color: #333;
}
.order-info{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.order-img{
  width: 1rem;
  height: 1rem;
  border-radius: .1rem;
  margin-right: 0.2rem;
}
.goods-tit{
  font-size: 0.24rem;
  font-weight: bold;
}