@import '../../static/css/mixin.scss';
@import '../../static/css/common.scss';
@import '../../static/css/svg.scss';



.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: .8rem;
  font-size: .3rem;
  padding: 0 1em;
  color: #666;
}

.ibox {
  font-size: .4rem;
  margin-right: .5em;
}

.site-name {
  @include ellipsis;
  margin-right: 10px;
}

.cart-module{
  background: #fff;
  padding:0 .3rem;
  padding-bottom: 1px;
  margin:0 .3rem;
  margin-bottom: 0.3rem;
  border-radius: .2rem;
  box-shadow: 0px 3px 10px #e1e1e1;
  .i-check,.i-check-no{
    margin-right: 0.2rem;
  }
}
.cart-module-top{
  display:flex;
  align-items: center;
  height:.9rem;
  line-height: .9rem;
  font-size: .24rem;
  color:#999;
  font-weight: bold;
}
.cart-item{
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 0.3rem;
  
}
.cart-item-main{
  display: flex;

}
.cart-item-img{
  width: 1.6rem;
  height: 1.6rem;
  border-radius: .2rem;
  margin-right: 0.2rem;
}
.cart-item-info{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.26rem;
  flex:1;
}
.cart-item-name{
  max-height: 0.76rem;
  overflow: hidden;
  font-weight: bold;
  color: #666;
}
.cart-item-price{
  color: #ff6900;
  font-size: 0.32rem;
}
.cart-item-oldPrice{
  color: #999;
  font-size: 0.2rem;
  text-decoration: line-through;
  margin-left: 0.1rem;
}
.cart-item-stock{
  font-size: 0.2rem;
  color: #999;
}

.num-box{
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.4rem;
}

.cart-tj{
  position: fixed;
  left: 0;
  bottom: 1.2rem;
  display:flex;
  justify-content: space-between;
  height: 1rem;
  width: 100%;
  background: #fff;
  font-size: 0.2rem;
  color: #999;
}
.cart-tj-l{
  display: flex;
  align-items: center;
  height: 1rem;
  margin-left: 0.3rem;
  font-size: 0.26rem;
  color: #ff6900;
  .i-check,.i-check-no{
    margin-right: 0.1rem;
  }
  
}
.cart-tj-r{
  display: flex;
}
.cart-tj-num{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  p{
    color: #666;
  }
  .num{
    font-size: 0.32rem;
    color: #ff6900;
  }
}
.account-btn{
  height: 100%;
  line-height: 1rem;
  background: #ff6900;
  color: #fff;
  font-size: 0.3rem;
  padding:0 .3rem;
  margin-left: 0.3rem;
}

.i-check,.i-check-no {
  font-size: 0.36rem;
}