@import '../../static/css/mixin.scss';
@import '../../static/css/common.scss';
@import '../../static/css/svg.scss';



.page-header {
  display: flex;
  align-items: center;
  height: .8rem;
  font-size: .3rem;
  padding: 0 1em;
  color: #666;
}

.ibox {
  font-size: .4rem;
  margin-right: .5em;
}

.site-name {
  @include ellipsis;
  margin-right: 10px;
}

.cart-module{
  background: #fff;
  padding:0 .3rem;
  padding-bottom: 1px;
  margin:0 .3rem;
  margin-bottom: 0.3rem;
  border-radius: .2rem;
  box-shadow: 0px 3px 10px #e1e1e1;
}
.cart-module-top{
  height:.9rem;
  line-height: .9rem;
  font-size: .24rem;
  color:#999;
  font-weight: bold;
}
.cart-item{
  position: relative;
  display: flex;
  margin-bottom: 0.3rem;
}
.cart-item-img{
  width: 1.6rem;
  height: 1.6rem;
  border-radius: .2rem;
  margin-right: 0.2rem;
}
.cart-item-info{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.26rem;
  flex:1;
}
.cart-item-name{
  max-height: 0.76rem;
  overflow: hidden;
  font-weight: bold;
  color: #666;
}
.cart-item-price{
  color: #ff6900;
  font-size: 0.32rem;
}
.cart-item-oldPrice{
  color: #999;
  font-size: 0.2rem;
  text-decoration: line-through;
  margin-left: 0.1rem;
}
.cart-item-stock{
  font-size: 0.2rem;
  color: #999;
}

.num-box{
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.4rem;
}