*{
  color:#333;
}

.goods-label{
  display: inline-block;
  font-size: 0.2rem;
  padding:.03rem .1rem;
  margin-right: .1rem;
  border-radius:.08rem;
  color: #fff;
  background: #e1e1e1;
}
.space{
  height: 0.3rem;
}